.menu {
    background-color: black;
}

.Introduction { 
    margin: auto;
    width: 113px;
}

.Introduction h1{
    width: 100%;
    text-align: center;
}

.Introduction button {
    width: 100%;
    text-align: center;
}
.ContactMe {
    margin: auto;
    width: 113px;
}

li {
    list-style-type: circle;
}

#LMSApp {
    float: left;
}