.menu {
    background-color: black;
}

.Introduction { 
    margin: auto;
    width: 50%;
}

.Introduction button{
    text-align: justify;
    width: 113px;
}

.ContactMe {
    margin: 0 auto;
    width: 50%;
}

li {
    list-style-type: circle;
}
